import React from 'react';
import PropTypes from 'prop-types';
import './{{pascalCase name}}.scss';
import Title from '../../components/Title';
import BackButton from '../../components/BackButton';

class {{pascalCase name}} extends React.Component {
  constructor(props) {
    super(props)
  }

  render() {
    return (
    <div className='page'>
      <BackButton history={this.props.history}/>
      <Title title='{{pascalCase name}}'/>
    </div>
    );
  }
};

{{pascalCase name}}.defaultProps = {

};

{{pascalCase name}}.propTypes = {

};

export default {{pascalCase name}};
